*{
    box-sizing: border-box;
    margin-top: 0;
}

:root{
--white: #ffffff;
--primary-nutmeg: hsl(14, 45%, 36%);
--primary-dark-Raspberry: hsl(332, 51%, 32%);
--neutral-eggshell: hsl(30, 54%, 90%);
--neutral-dark-charcoal: hsl(24, 5%, 18%);
--neutral-light-grey: hsl(30, 18%, 87%);
--neutral-wenge-brown: hsl(30, 10%, 34%);
--neutral-rose-white: hsl(330, 100%, 98%);

}
body{
    margin: 122px auto;
    font-size: 1rem;
    background: var(--neutral-eggshell);
    font-family: "Young Serif", sans-serif;
    line-height: 1.5;
    color: var(--neutral-wenge-brown);
}

img{
    max-width: 100%;
    vertical-align: middle;
}

.recipe{
    margin: 0 auto;
    padding: 40px;
    border-radius: 24px;
    
}
.recipe__feature{
    border-radius: 12px;
    margin-bottom: 32px;
}

.recipe__title{
    font-size: 40px;
    font-weight: 400;
    color: var(--neutral-dark-charcoal);
    margin-bottom: 14px;
}
.recipe__section{
    font-weight: 400;
   margin-bottom: 20px;
}
.recipe__desc{
    font-family: "Outfit", sans-serif;
}

.recipe__section--others:not(:last-child){
margin-bottom: 20px;
padding-bottom: 30px;
border-bottom: 1px solid var(--neutral-light-grey);
}
.recipe__section--prepare{
    background: var(--neutral-rose-white);
    padding: 30px;
    border-radius: 12px;
}
ul,ol{
    margin: 0;
}


@media(min-width: 740px){
    .recipe{
        max-width: 735px;
        background: var(--white);
    }
}